html,
body {
  background-color: #EEE;
}

#popup-content {
  text-align: justify;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  background-color: white;
  border: 1px solid #D2DBED;
  padding: 10px;
  -webkit-box-shadow: #888 2px 2px 2px;
}

#popup-header {
  margin-bottom: 15px;
  vertical-align: middle;
}

#popup-header #popup-header-title {
  font-size: 24px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 10px;
}

#popup-header #preferences {
  float: right;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#popup-body {

}

#popup-body #glutton-list-title {
  font-size: 16px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 10px;
}

#popup-body #glutton-list-ids {
  font-size: 16px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 10px;
}

#popup-body #glutton-list-buttons {
  display: none;
}

#popup-body #glutton-list-ids .selected {
  border: 1px solid black;
}