html,
body {
  min-width: 400px;
  background-color: #EEE;
}

#popup-content {
  text-align: justify;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  background-color: white;
  border: 1px solid #D2DBED;
  padding: 10px;
  -webkit-box-shadow: #888 2px 2px 2px;
}

#popup-header {
  margin-bottom: 15px;
  vertical-align: middle;
}

#popup-header #popup-header-title {
  font-size: 24px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 10px;
}

#popup-header #settings,
#popup-header #processPdf,
#popup-header #openUrl {
  float: right;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#popup-header #processPdf,
#popup-header #openUrl {
  display: none;
}

#popup-body {
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}

#popup-body #popup-body-title {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#popup-body #popup-body-title #refbibs-count {
  display: inline-block;
}

#popup-body #refbib {
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3px;
}

#popup-body .data-row {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

#popup-body .data-row .key:after {
  content: ": ";
}

#popup-body .data-row .key{
  vertical-align:middle;
  max-width: 30%;
  display: inline-block;
  margin-right: 2%;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#popup-body .data-row .value {
  display: inline-block;
  vertical-align:middle;
  max-width: 60%;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#popup-footer {
  display: none;
  margin-top: 15px;
  vertical-align: middle;
}

#popup-footer #citeString {
  display: inline-block;
  padding: 5px;
}

#popup-footer #citeType {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#popup-footer #processCopy,
#popup-footer #processCite {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}