[class^="gs"] > a[name="GluttonLink"] {
    margin-left: 0;
}

a[name="GluttonLink"].glutton-link {
    margin:              2px 5px 2px 5px;
    padding:             2px;
    width:               60px;
    border:              1px solid;
    border-top-color:    #8ed78e;
    border-left-color:   #8ed78e;
    border-bottom-color: #000;
    border-right-color:  #000;
    background:          #009933 !important;
    text-align:          center;
    text-decoration:     none !important;
    font:                normal 10px Verdana;
    color:               white !important;
    font-weight:         bold;
    border-radius:       5px;
}

a[name="GluttonLink"].glutton-link:hover {
    text-decoration: none !important;
    color:           white !important;
    background:      #00cc44 !important;
    font-weight:     bold;
}

a[name="GluttonLink"].glutton-link:active {
    border-top-color:    #000;
    border-left-color:   #000;
    border-bottom-color: #ccc;
    border-right-color:  #ccc;
    background:          #666;
    text-decoration:     none !important;
    color:               white;
    font-weight:         bold;
}
a[name="GluttonLink"].glutton-link.istex {
    margin:              2px 5px 2px 5px;
    padding:             2px;
    width:               60px;
    border:              1px solid;
    border-top-color:    #5c9ab0;
    border-left-color:   #5c9ab0;
    border-bottom-color: #000;
    border-right-color:  #000;
    background:          #458ca5 !important;
    text-align:          center;
    text-decoration:     none !important;
    font:                normal 10px Verdana;
    color:               white !important;
    font-weight:         bold;
    border-radius:       5px;
}

a[name="GluttonLink"].glutton-link.istex:hover {
    text-decoration: none !important;
    color:           white !important;
    background:      #5c9ab0 !important;
    font-weight:     bold;
}

a[name="GluttonLink"].glutton-link.istex:active {
    border-top-color:    #000;
    border-left-color:   #000;
    border-bottom-color: #458ca5;
    border-right-color:  #458ca5;
    background:          #5c9ab0;
    text-decoration:     none !important;
    color:               white;
    font-weight:         bold;
}

a[name="GluttonLink"].glutton-link-disabled {
    margin:              2px 5px 2px 5px;
    padding:             2px;
    width:               60px;
    border:              1px solid;
    border-top-color:    darkgray;
    border-left-color:   darkgray;
    border-bottom-color: black;
    border-right-color:  black;
    background:          white !important;
    text-align:          center;
    text-decoration:     none !important;
    font:                normal 10px Verdana;
    /*color:               #009933 !important;*/
    color:               black !important;
    font-weight:         bold;
    border-radius:       5px;
}

a[name="GluttonLink"].glutton-link-disabled:hover {
    text-decoration: none !important;
    /*color:           #00cc44 !important;*/
    color:           white !important;
    background:      black !important;
    font-weight:     bold;
}

a[name="GluttonLink"].glutton-link-disabled:active {
    border-top-color:    black;
    border-left-color:   black;
    border-bottom-color: darkgray;
    border-right-color:  darkgray;
    background:          black;
    text-decoration:     none !important;
    /*color:               #009933 !important;*/
    color:               white !important;
    font-weight:         bold;
}

span[gluttonid] sup {
    color: #009933;
}